<head>
    <title>Sale History</title>
</head>


<body class="body-black">
<nav class="navbar navbar-default header-margin-bottom">
    <div class="supreme-font">
        <a class="white_text" routerLink=".."><i class="fa fa-chevron-left"></i></a>
        <span class="supreme-text-logo"><a class="a-no-color a-no-hover a-no-visited" routerLink="loggedinhome/user">S U P R E M E</a></span>
    </div>
</nav>

<p class="center_text supreme-font white_text text-font-size">Sale History</p>
<div class="card-columns" style="padding-top: 10px" *ngFor="let item of items">
    <div class="card text-center">
        <img class="card-img-top" src={{item.url}}>
        <div class="card-body">
            <p class="card-text">Name: {{item.name}}</p>
            <p class="card-text">Color: {{item.color}}</p>
            <p class="card-text">Size: {{item.size}}</p>
            <p class="card-text">Category: {{item.category}}</p>
            <p class="card-text">Price: ${{item.price}}</p>
        </div>
    </div>
</div>
<div class="card-footer footer-color fixed-bottom">
    <a class="pull-right white_text" routerLink="/user/seller"><i class="fa fa-user"></i></a>
</div>

</body>
